.AboutMe {
  position: relative;
  letter-spacing: 4px;
}
/* .img {
  background-size: 10%;
  background-position: 100% !important;
} */
.AboutMe::before {
  content: "";
  background-color: #e8ac34;
  position: absolute;
  top: 50px;
  width: 210px;
  height: 2px;
}

.imageText {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* height: 500px; */
  border: 1px solid #ffffff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
/* .img {
  border-radius: 50px;
  width: 300px;
  height: 400px;
  margin-right: 10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
} */
.aboutMe {
  letter-spacing: 1.5px;
  padding: 10px;
  font-style: italic;
  font-size: 20px;
  font-weight: 700;
  line-height: 2em;
  text-align: left;
}
.DownloadBtn {
  margin: 50px;
}
@media screen and (min-width: 769px) and (max-width: 992px) {
  .aboutMe {
    text-align: center !important;
    margin-top: 10px !important;
    letter-spacing: 2px;
    font-size: 17px;
    padding: 20px;
    line-height: 30px;
  }
}
@media screen and (min-width: 500px) and (max-width: 769px) {
  .aboutMe {
    text-align: center !important;
    margin-top: 10px !important;
    letter-spacing: 2px;
    font-size: 17px;
    padding: 20px;
    line-height: 25px;
  }
  .Download {
    margin: auto;
    margin-bottom: 15px !important;
    width: 100px;
  }
  .DownloadBtn {
    font-size: 15px !important;
    width: 130px;
  }

  .AboutMe::before {
    top: 35px;
    width: 160px;
    height: 1px;
  }

  .img {
    margin-top: 10px;
    width: 100%;
  }
  .imageText {
    display: block;
    height: fit-content;
  }
}

@media screen and (max-width: 500px) {
  .aboutMe {
    text-align: center !important;
    margin-top: 10px !important;
    letter-spacing: 2px;
    font-size: 17px;
    padding: 20px;
    line-height: 25px;
  }
  .Download {
    margin: auto;
    margin-bottom: 15px !important;
    width: 100px;
  }
  .DownloadBtn {
    font-size: 15px !important;
    width: 130px;
  }

  .AboutMe::before {
    top: 35px;
    width: 160px;
    height: 1px;
  }

  .img {
    margin-top: 10px;
    width: 100%;
  }
  .imageText {
    display: block;
    height: fit-content;
  }
}
