
.NavLink{
    letter-spacing: 1px;
    color: #fff !important;
    position: relative;
}
.NavLink:hover{
    color: #e8ac34 !important;
}
.NavLink::before{
    transition: all 0.5s;
    content: "";
    background-color: #e8ac34 !important;
    width: 0px;
    height: 2px;
    position: absolute;
    bottom: 9px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.NavLink:hover::before{
    transition: all 0.5s;
    content: "";
    background-color:  #e8ac34 !important;
    width: 75px;
    height: 2px;
    position: absolute;
    bottom: 9px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

@media screen  and (min-width : 770px) and (max-width : 992px)
{
.navbarToggler{
    background-color: #e8ac34 !important;
}    
}
@media screen  and (max-width : 770px)
{
.navbarToggler{
    background-color: #e8ac34 !important;
}    
}