@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat:wght@300&family=Roboto+Mono:wght@300&family=Roboto+Slab:wght@500&family=Roboto:ital@1&family=Varela+Round&display=swap");
body {
  color: rgb(255, 255, 255);
  background-color: rgb(1, 1, 31);
  font-family: "Varela Round", sans-serif;
}
